// 模块
.block {
    width           : 100%;
    display         : flex;
    flex-wrap       : wrap;
    background-color: #fff;
    margin-top      : 10px;
    border-radius   : 10px;

    &-section {
        width      : 20%;
        height     : 90px;
        padding-top: 15px;
        text-align : center;

        &>image {
            width : 50px;
            height: 50px;
        }
    }
}

// 搜索栏
//下拉显示的背景框
.searchBarbg {
 padding-top: 40px;
 background-color: #FFFFFF;
 position: fixed;
 top: 0px;
 z-index: 100;
}
//默认搜索栏的宽度
.searchBarwidth {
	 width:100%;
}
//底部轮播距离顶部搜索栏的距离
.offsetTop {
	margin-top: 70px;	
}
//附近商家固定时候的样式
.nearStoneoffsetTop {
	background-color: #FFFFFF;
	position: fixed;
	top:100px;
	z-index: 100;
	&-content {
		margin: 0 10px;
	}
}

.bar {
    width        : 95%;
    height       : 40px;
    border       : 1px solid #ccc;
    border-radius: 20px;
    display      : flex;
    align-items  : center;
    margin       : 10px auto;
    &>image {
        width : 20px;
        height: 20px;
        margin: 0 10px;
    }
}
