
//下拉显示的背景框
.searchBarbg {
 padding-top: 40px;
 background-color: #FFFFFF;
 position: fixed;
 top: 0px;
 z-index: 100;
}
//默认搜索栏的宽度
.searchBarwidth {
	 width:100%;
}
//底部轮播距离顶部搜索栏的距离
.offsetTop {
	margin-top: 70px;	
}


